<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <div class="container">
        <h1>Mavjud Sayyoralar</h1>
        {% for sayyora_nomi in sayyoralar %}
        <div class="planet-entry">
            <a href="{{url_for('sayyora_info', sayyora_nomi=sayyora_nomi)}}" class="planet-link"><h2>{{sayyora_nomi}}</h2></a>
            <a href="{{url_for('sayyora_uchirish', sayyora_id=loop.index)}}" class="delete-link button-danger">O'chirish</a>
        </div>
        {% endfor %}
        <hr class="divider">
        <a href="{{url_for('yangi_sayyora')}}" class="button add-link">Sayyora qo'shish</a>
    </div>
</body>
</html>